.blog {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 45%;
  margin: auto;
  margin-top: 16vh;
  padding: auto;
}

.blog > .post {
  width: 100%;
  height: max-content;
  background: #f3f3f3;
  border: none;
  border-radius: 5px;
  margin-bottom: 4vh;
}

form > input {
  width: 100%;
  padding: 5px 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid black;
  background: #f3f3f3;
}
form > input:focus {
  outline: none;
}
.postIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 1vw;
}

.postContent {
  padding-left: 1vw;
}

.postContent > h5 {
  height: fit-content;
}
.comments {
  background-color: #dbdbdb;
  border-radius: 5px;
  margin-left: 1vw;
  margin-right: 2vw;
  font-size: 15px;
}

.authorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1vw;
}
.authorInfo > * {
  margin-left: 4px;
  margin-right: 4px;
}
.postHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.userComponent {
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.username {
  margin-left: 10px;
}

.likeIcon {
  cursor: pointer;
}

.saveIcon {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .blog {
      width: 60vw !important;
  }
}

.shapes-6 {
  margin-top: 25vh !important;
  width: 40px;
  height: 40px;
  color:#83a2d4;
  background:
    linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0);
  background-size: 21px 21px;
  background-repeat:no-repeat;
  animation: sh5 0.8s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes sh5 {
 0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
 33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
 66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
 100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}