.blog {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 45%;
  margin: auto;
  margin-top: 16vh;
  padding: auto;
}

.blog > .post {
  width: 100%;
  height: max-content;
  background: #f3f3f3;
  border: none;
  border-radius: 5px;
  margin-bottom: 4vh;
}

form > input {
  width: 100%;
  padding: 5px 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid black;
  background: #f3f3f3;
}
form > input:focus {
  outline: none;
}
.postIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 1vw;
}

.postContent {
  padding-left: 1vw;
}

.postContent > h5 {
  height: fit-content;
}
.comments {
  background-color: #dbdbdb;
  border-radius: 5px;
  margin-left: 1vw;
  margin-right: 2vw;
  font-size: 15px;
}

.authorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1vw;
}
.authorInfo > * {
  margin-left: 4px;
  margin-right: 4px;
}
.postHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.userComponent {
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.username {
  margin-left: 10px;
}

.likeIcon {
  cursor: pointer;
}

.saveIcon {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .blog {
      width: 60vw !important;
  }
}