.userPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: auto;
  }

  .userProfile{
    margin-top: 16vh;
  }
  
  .userPosts > .post {
    width: 45%;
    height: max-content;
    background: rgb(241, 241, 241);
    border: none;
    margin: 1vw;
    margin-bottom: 3vw;
  }
  .signInFirst {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 10%;
  }
  .signInFirst > button {
    margin-top: 30px;
  }